
@mixin flex_box($direction:column,$x_align:center){
    display: flex;
    flex-direction: $direction;
    align-items: center;
    align-content: center;
    justify-content: $x_align;

    position: relative;

    @content;
}
@mixin inline_flex_box($direction:row,$x_align:center){
    display: inline-flex;
    flex-direction: $direction;
    align-items: center;
    align-content: center;
    justify-content: $x_align;

    position: relative;

    @content;
}


@mixin back_image($width:100%, $height:100%){

    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: $width $height;

    @content;
}

@mixin default_font($color, $font-weight){
    font-weight: $font-weight;
    color: $color;
}

@mixin font_Campton($font_size:18px, $color:black, $font_weight:lighter){

    font-family: 'campton', sans-serif;
    font-size: $font_size;
    @include default_font($color, $font_weight);

    @content;
}

@mixin font_notosan($font_size:18px, $color:black, $font_weight:lighter){

    font-family: 'noto_san', sans-serif;
    font-size: $font_size;
    @include default_font($color, $font_weight);

    @content;
}


@mixin item_center($left:50%){
    position:absolute;
    left:$left;
    top:50%;
    transform:translate(-50%,-50%);

    @content;
}



//변수 셋팅
$arrival_ratio: 1.16;
$curation_ratio: 1.1;

//app frame
#app{
    @include flex_box();

    //max-width: 1980px;
    width: 100vw;
    max-width: 1920px;
    min-width: 1200px;
    height: auto;


    //광고 이미지 설정
    #ad_container{

        width: 100%;
        height: 470px;

        @include back_image($width:auto,$height:100%){
            background-image: url("./static/main_img.jpg")
        };
    }

    //신상품 컨테이너 설정
    #arriavals_container{
        
        @include flex_box();
        
        width: 80%;
        height: auto;

        //NEW ARRIVAL 살장
        .title{
            margin: 60px 0 40px 0;

            @include font_Campton(36px, #111, bolder);
        }

        //NEW ARRIVAL 선택버튼
        .selection{
            padding: 0 0 3px 0;
            margin: 0 0 60px 0;

            .style{
                @include inline_flex_box();
                margin: 0 25px 0 25px; 

                @include font_Campton(16px, #222);

                cursor: pointer;
            }
            .style.active{
                font-weight: bold;
                border-bottom: 2.5px solid black;
            }

        }

        #arrivals{
            @include flex_box($direction:row,$x_align:flex-start);
            width: 100%;

            overflow: hidden;
        }

        //ARRIVAL 상품 리스트
        .arrival{
            display: inline-grid;
            grid-template-rows: auto;
            grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
            grid-auto-columns: 31%;

            grid-auto-flow: row;
            gap: 0 3.5%;

            position: relative;

            flex: 1 0 100%;

            overflow: hidden;
            //각 아이템
            .item{
                @include inline_flex_box($direction:column);

                position: relative;

                width: 100%;
                height: auto;

                transition: all 1s;
                
                //대표 이미지 설정 
                .represntative{
                    @include flex_box($x_align:flex-start);

                    width: 100%;
                    padding-bottom: $arrival_ratio*100%;

                    img{
                        position: absolute;

                        width: 100%;
                        height: 100%;

                        cursor: pointer;
                    }
                    //할인율 태그
                    .sale_rate{
                        @include inline_flex_box();

                        position:absolute;
                        left:0;
                        top:0;

                        width: 13%;
                        padding-bottom: 13%;

                        @include font_Campton(18px,#fff,bolder);
                        background-color: black;

                        span{
                            position: absolute;
                            left:50%;
                            top:50%;

                            white-space: nowrap;

                            transform: translate(-50%,-50%);
                        }
                    }
  
                    //종아요 버튼
                    .like_btn{
                        position:absolute;
                        right: 6%;
                        bottom: $arrival_ratio*6%;
                        
                        width: 10%;
                        padding-bottom: 10%;

                        background-color:white;
                        border-radius: 100vw;
                        @include back_image($width:44%, $height:auto){
                            background-image: url("./static/icon_heart_01.png");
                        }

                        cursor: pointer;

                        &:hover{
                            background-image: url("./static/icon_heart_01_on.png");
                        }
                    }

                }

                //상품 문자열 정보 설정
                &>div{ 
                    @include flex_box($x_align:flex-start){ align-items: flex-start } 
                    
                    width: 100%;
                }
                
                //상품이름
                .product_name{
                    padding: 1% 0 1% 0;
                    
                    @include font_notosan(14px,#111,bolder);
                }
                //상품 스타일 정보
                .style{
                    padding: 0 0 0 0;

                    @include font_notosan(12px, #666);
                }
                //상품 가격정보
                .price{
                    @include flex_box($direction:row,$x_align:flex-start);

                    padding: 2% 0 2% 0;

                    .raw{ 
                        margin: 0 1% 0 0;

                        @include font_Campton(16px,#333,bolder);
                        
                        .unit{ 
                            font-size: 14px;
                            font-weight: lighter;
                        }
                    }
                    .not_raw{ @include font_Campton(12px,#d4d4d4) }
                }
            }//end of item

        }//end of arriavals

        //컨트롤러 설정
        .controller{

            

            .left{
                
            }
            .right{

            }
        }

    }//end 신상품 컨테이너


    //curation container 설정
    #curations_container{
        @include flex_box($x_align:flex-start);

        max-width: 1540px;
        width: 90%;
        height: auto;

        margin: 0 0 60px 0;

        .title{
            @include flex_box();

            margin: 60px 0 60px 0;

            @include font_Campton(36px,#111,bolder);
        }

        #curations{
            display: grid;
            grid-template-rows: auto;
            grid-template-columns: repeat(auto-fit,minmax(295px,1fr));
            
            grid-auto-rows: auto;
            grid-auto-flow: row dense;

            gap: 0 1%;

            width:100%;
            height: auto;

            .item{
                @include inline_flex_box($direction:column);

                width: 100%;
                height: auto;

                margin-bottom: $curation_ratio*10%;
                
                //대표 이미지 설정 
                .represntative{
                    @include flex_box($x_align:flex-start);

                    width: 100%;
                    padding-bottom: $curation_ratio*100%;

                    img{
                        position: absolute;
                        top:0;
                        left:0;

                        width: 100%;
                        height: 100%;

                        cursor: pointer;
                    }
         
                    //신상품 태그
                    .new_rate{
                        position:absolute;
                        left:0;
                        top:0;

                        width: 15%;
                        padding-bottom: 7.5%;

                        @include font_notosan(15px,#fff);
                        background-color: rgb(242,104,101);

                        span{
                            position: absolute;
                            left:50%;
                            top:50%;

                            transform: translate(-50%,-50%);
                        }
                    }
                    //종아요 버튼

                }

                //상품 문자열 정보 설정
                &>div{ 
                    @include flex_box($x_align:flex-start){ align-items: flex-start } 
                    
                    width: 100%;
                }
                
                //상품이름
                .product_name{
                    padding: 1% 0 1% 0;
                    
                    @include font_notosan(14px,#111,bolder);
                }
                //상품 스타일 정보
                .style{
                    padding: 0 0 0 0;

                    @include font_notosan(12px, #666);
                }
                //상품 가격정보
                .price{
                    @include flex_box($direction:row,$x_align:flex-start);

                    padding: 2% 0 2% 0;

                    .raw{ 
                        margin: 0 2% 0 0;

                        @include font_Campton(16px,#333,bolder);
                        
                        .unit{ 
                            font-size: 14px;
                            font-weight: lighter 
                        }
                    }
                    .not_raw{ @include font_Campton(12px,#d4d4d4) }

                    .like{
                        position: absolute;
                        top:50%;
                        right:0;
                        
                        width: 10%;
                        padding-bottom: 10%;
                        @include back_image($width:44%,$height:auto){
                            background-image: url("./static/icon_heart_02.png");
                        }

                        transform: translate(0,-50%);
                        cursor: pointer;

                        &:hover{
                            background-image: url("./static/icon_heart_02_on.png");
                        }
                    }
            
                }

            }//end item
            
        }//end curtaion

    }//end curation_container

    //더보기 버튼 설정
    #more{
        @include flex_box();

        width: 30%;
        padding-bottom:3%;
        margin-bottom: 60px;

        @include font_Campton(30px);

        border: 1px solid black;
        
        cursor: pointer;

        span{
            @include item_center();
        }
    }

}