
//list container prop
$list_container_width: 100vw;
$list_container_height: 100vh;

//btn prop
$btn_width: 10%;
$btn_heigth: 10%;

//list prop
$list_width: 50%; 
$list_height: 50%;

//env prop
$limit: 20;

@mixin flex_box {
    display: inline-flex;
    align-items: center;
    align-content: center;
    justify-content: flex-start;

}

body{
    padding: 0.3vh;
    padding-bottom: 5vh;
    margin: 0;
}

#list_container{ 
    display: grid;

    grid-template-rows: repeat(11,9vh); 
    grid-template-columns: repeat(4,25vw);  
    grid-auto-flow: row dense;

    .btn{
        @include flex_box();
        justify-content: center;
        font-weight: bold;

        cursor: pointer;
    }

    #crawling_btn{
        grid-area: 1 / 1 / span 1 /span 1;
        
        border: 1px solid black;
    }
    #fetch_btn{
        grid-area: 1 / 2 / span 1 /span 1;
        
        border: 1px solid red;
    }
    #print_btn{
        grid-area: 1 / 3 / span 1 /span 1;

        border: 1px solid red;
    }

    #focus_btn{
        grid-area: 1 / 4 / span 1 /span 1;

        z-index:1;
        
        background-color: white;
        border: 1px solid red;

        color:red;
        &.warn{
            color: white;
            background-color: red;
        }
    }

    input{
        grid-area: 1 / 4 / span 1 /span 1;
        z-index:0;

        outline-width: 0;
    }


    .row{
        &.left{
            grid-column: 1 / span 2;
        }
        &.right{
            grid-column: 3 / span 2;
        }

        &.discarded{
            background-color: #d2d6d3;
        }
        &.focus{
            border: 3px solid red;

            img{
                position: relative;

                width: 150%;
                height: auto;
                
                z-index:1;
                
                transform: translateX(-12.5%);
            }

        }

        @include flex_box();

        position: relative;

        border: 1px solid green;
        cursor: pointer;

        div{
            @include flex_box();
            justify-content: center;

            height: 100%;
            border: 1px dashed black;

            &.no{
                width: 10%;
            }

            &.product_name{
                width: 30%;
            }
            &.category{
                width:30%;
                font-weight: bold;
                font-size: 110%;
            }
            &.url{
                width: 30%;
                justify-content: center;

            }

            img{
                height: 100%;
                width: auto;
            }
            
        }
        
    }


}

#big_one{
    position: absolute;
    top:50%;
    left:25%;
    
    width:45vw;
    height: auto;
    
    border: 3px dashed green;

    transform: translate(-50%,-50%);

    img{
        width:100%;
    }
}

#big_one.right{
    left:75%;
}
