$column_gap: 3.5%;

.slide-list{
    
    &-move{
        transition: transform 1s;    
    }

    &-leave-active{
        transition: all 1s;      
    }
    &-leave{
        opacity: 1;
    }
    &-leave-to{
        opacity: 0;
        transform: translateX(-100%);
    }

    &-enter-active{
        transition: all 1s;
    }
    &-enter{
        transform: translateX($column_gap);
    }
    &-enter-to{
        transform: translateX(-100%);
    }

}

.fill-list{

    &-enter-active{
        transition: all 1s;
    }
    &-enter{
        opacity: 0;
        transform: translateX($column_gap)
    }
    &-enter-to{
        
    }

}

.fade-list{

    &-leave-active{
        transition: all 1s;      
    }
    &-leave{
        opacity: 1;
    }
    &-leave-to{
        opacity: 0;
        transform: translateX(-100%);
    }

    &-enter-active{
        transition: all 1s;      
    }
    
    &-enter-to{
        transform: translateX(-100%);
    }

}


.cascade-fall{

    &-leave-active{
        transition: all 1s;      
    }
    &-leave{
        opacity: 1;
    }
    &-leave-to{
        opacity: 1;
        transform: translateY(-200%);
    }

    &-enter-active{
        position: absolute;
        transition: all 1s;
    }

    &-enter-to{
        transform: translateY(-200%)
    }

}