@font-face{
    font-family: 'campton';
    font-weight: lighter;
    font-style: normal;
    src: url('../static/font/campton.otf');
}
@font-face{
    font-family: 'campton';
    font-weight: bold;
    font-style: normal;
    src: url('../static/font/campton_bolder.otf');
}

@font-face{
    font-family: 'noto_san';
    font-weight: lighter;
    font-style: normal;
    src: url('../static/font/noto_san.otf');
}
@font-face{
    font-family: 'noto_san';
    font-weight: bold;
    font-style: normal;
    src: url('../static/font/noto_san_bold.otf');
}
