<template>
  <div class="home">
    <img alt="Vue logo" src="../assets/logo.png">
    <header-t></header-t>
    <input-t></input-t>
    <list-t></list-t>
    <footer-t></footer-t>
    <router-link to="/about">about gogo?</router-link>
  </div>
</template>

<script>
import Header from '@/components/Head.vue'
import Input from '@/components/Input.vue'
import List from '@/components/List.vue'
import Footer from '@/components/Footer.vue'

export default {
  name: 'home',
  components: {
    "header-t": Header,
    "input-t": Input,
    "list-t": List,
    "footer-t": Footer
  }
}
</script>
