<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
<meta charset="UTF-8">
<title><%= htmlWebpackPlugin.options.title %></title>
<body>
	<h3>Login with:</h3>
	<form th:action="@{${login_processing_url}}" method="post">
		<input value="broth59" type="text" id="username" th:name=${name_parameter} class="form-control" placeholder="Username" required autofocus> <input
			value="*ma742823" type="password" id="password" th:name="${password_parameter}" class="form-control" placeholder="Password" required>
		<button>제출</button>
	</form>
	
	<a href="/logout">logout 제</a>

	<p th:each="url : ${urls}">
		<a th:text="${url.key}" th:href="${url.value}">Client</a> <span
			sec:authorize="isAuthenticated()">없넹?</span> <span
			sec:authentication="principal">없넹?</span>
	</p>
	
	<span th:text="${sessiono}">세션입니다</span>
</html>