$payment_width: 30%;
$payment_height: 80%;

$payment_group: (
    kakao:(color:black, background_color:yellow), 
    inicis:(color:white, background_color:red), 
    danal:(color:blue, background_color:white)
);

@mixin payment_block ($width, $height, $config){
    
    width: $width;
    height: $height;

    color: map-get($config, "color");
    background-color: map-get($config, "background_color");
    
    border: 1px solid black;
    cursor: pointer;
    &:hover{
        text-decoration: underline;
    }
}

@mixin basic_flex ($direction: row, $align: center, $justify: center){
    display: inline-flex;
    flex-direction: $direction;
    align-items: $align;
    justify-content: $justify;
}

.payment{

    @include basic_flex();

    width: 100px;
    height: 100px;
    

    @each $corp,$config in $payment_group {
        
        &##{$corp}{
            @include payment_block($payment_width, $payment_height, $config);
        }
        
    }
}

