
@mixin flex_box($direction:column,$x_align:center){
    display: flex;
    flex-direction: $direction;
    align-items: center;
    align-content: center;
    justify-content: $x_align;

    position: relative;

    @content;
}
@mixin inline_flex_box($direction:row,$x_align:center){
    display: inline-flex;
    flex-direction: $direction;
    align-items: center;
    align-content: center;
    justify-content: $x_align;

    position: relative;

    @content;
}


@mixin back_image($width:100%, $height:100%){

    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: $width $height;

    @content;
}

@mixin default_font($color, $font-weight){
    font-weight: $font-weight;
    color: $color;
}

@mixin font_Campton($font_size:18px, $color:black, $font_weight:lighter){

    font-family: 'campton', sans-serif;
    font-size: $font_size;
    @include default_font($color, $font_weight);

    @content;
}

@mixin font_notosan($font_size:18px, $color:black, $font_weight:lighter){

    font-family: 'noto_san', sans-serif;
    font-size: $font_size;
    @include default_font($color, $font_weight);

    @content;
}


@mixin item_center($left:50%){
    position:absolute;
    left:$left;
    top:50%;
    transform:translate(-50%,-50%);

    @content;
}

//변수 셋팅
$curation_ratio: 1;

#app{
    @include flex_box();
    width: 100vw;
    min-width: 1200px;
    //width: 1920px;

    overflow: hidden;

    //컨테이너 공통 설정
    .container{
        width: 50%;
        min-width: 1000px;
    
        margin-bottom: 25%;
    }

    //큐레이션 설정
    #curation_container{
        @include flex_box();

        &>*{ width: 100%; }

        //curation 로고
        #logo{
            @include flex_box();
        
            width: 110px;
            height: 110px;
            margin: 70px 0 40px 0;

            @include back_image($width:auto,$height:50%){
                background-color: #ededed;
                background-image: url("./static/icon_step.png");
            }

            border-radius: 100vw;
        }
        //curation 제목
        #title{
            @include flex_box();

            @include font_Campton(36px,#111,bold);

            &>span>span{ font-family: 'noto_san' }
        }
        //밑쭐 찍
        #sub_line{
            width: 5%;

            margin: 40px 0 40px 0;

            border-bottom: 2px solid black;
        }

        //이미지 선택 박스
        #curation{
            height: auto;

            #query{
                @include flex_box();
                
                height: 100px;
                margin: 0 0 60px 0;

                @include font_notosan(26px,#333){
                    font-family: 'Nanumsquare'
                }
            }

            #selection_box{
                @include flex_box($direction:row,$x_align:flex-start);

                width: 100%;

                overflow: hidden;

                .box{
                    display: grid;

                    grid-template-rows: repeat(2,auto);
                    grid-template-columns: repeat(auto-fit, minmax(1000px*0.3, 1fr));

                    flex: 1 0 100%;
                    
                    gap: 1% 1%;

                    .selection{
                        position: relative;

                        width: 100%;
                        padding-bottom: $curation_ratio*100%;

                        cursor: pointer;

                        &>*{
                            position: absolute;
                            top: 0;
                            left: 0;

                            width: 100%;
                            height: 100%;
                        }

                        .src{
                            
                        }

                        .trans_cover{
                            @include back_image($width:10%,$height:10%){
                                background-image: url("./static/check.png");
                                background-color: rgba(0,0,0,0.5);     
                            }
                            
                        }

                    }//end each selection

                }//end box

            }//end selection box

        }//end cuation box

        #next{
            @include flex_box($direction:row,$x_align:flex-start);
            
            width: 16%;
            height: 40px;
            padding-left: 2%;
            margin: 40px 0 100px 0;

            @include font_notosan(18px,white);

            @include back_image($width:12%,$height:auto){
                background-position-x: 90%;
                background-image: url("./static/icon_arrow.png");
                background-color: black;
            };

            cursor: pointer;
        }

    }//end curation_container


    #spec_container{
        @include flex_box();
        
        width: 50%;

        &>*{ width: 100%; }
        
        //spec 로고
        #logo{
            @include flex_box();
        
            width: 110px;
            height: 110px;
            margin: 70px 0 40px 0;

            @include back_image($width:auto,$height:50%){
                background-color: #ededed;
                background-image: url("./static/icon_step.png");
            }

            border-radius: 100vw;
        }
        //spec 제목
        #title{
            @include flex_box();

            @include font_Campton(36px,#111,bold);

            &>span>span{ font-family: 'noto_san' }
        }
        //밑쭐 찍
        #sub_line{
            width: 5%;

            margin: 40px 0 40px 0;

            border-bottom: 2px solid black;
        }
        //질문
        #query{
            @include flex_box();
                
            //height: 100px;
            margin: 0 0 80px 0;

            @include font_notosan(26px,#333){
                font-family: 'Nanumsquare'
            }
        }
        
        //spec 선택창
        #spec{
            display: grid;
            
            grid-template-rows: repeat(5,auto);
            grid-template-columns: 1fr 450px;

            width: 80%;

            //태그==라벨 
            &>.tag{ 
                grid-column: 1 / 2 ;
                
                padding: 0 0 0 25%;

                @include font_notosan(16px,#333);
            }
            //수치 
            &>div{ 
                grid-column: 2 / 3;
                
                height: 80px;
            }

            //인풋 레인지
            .range{
                width: 450px;
                transform: translate(0,-50%);   
            }

            //신발 사이즈
            #cubes{
                
            }

            //blank
            .blank{
                height: 30px;

                &.bord{
                    height: 60px;
                }
            }

            //종료
            &>#confirm{
                grid-column: 1 / 3;

                @include flex_box();

                div{
                    @include flex_box();
                    
                    width: 20%;
                    padding-bottom: 20%*0.25;

                    background-color: black;

                    cursor: pointer;

                    span{
                        @include item_center();

                        @include font_notosan(18px,white);
                    }
                    
                }

            }//end confirm

            //로딩창
            #loading{
                position: fixed;
                top:50%;
                left:50%;

                //width: 23%;
                width: 250px;
                //padding-bottom: 14%;
                height: 160px;

                border: 1px solid #ededed;
                border-radius: 5%;
                background-color: white;

                box-shadow: 1.5px 1.5px 5px 0 #ededed;

                transform: translate(-50%,-50%);

                img{ 
                    @include item_center();
                    top: 30%;

                    width: 15%;
                    height: auto;
                }
                #msg_box{
                    @include flex_box();
                    @include item_center();
                    top:70%;

                    width:100%;

                    div{
                        @include flex_box();

                        width: 100%;

                        @include font_notosan(14px);
                    }
                }
            }

        }

    }//end spec_container

}

