<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>quartette_event</title>
  </head>
  <body>
    <noscript>
      <strong>제공한 js 및 css 파일을 js, css 폴더를 생성해서 넣어주세요.</strong>
    </noscript>

    <header class="mobile">
      <div id="back_btn"
          :style="{backgroundImage:'url('+ img_uri('left_arrow', null, false, false, 'url') +')'}"></div>
      <span class="normal"> Mobile </span>
    </header>  
    <header class="pc">
      <div></div>
      <span class="normal"> PC </span>
    </header>
    
    <div id="app"></div>
  </body>
</html>
