<template>
  <div id="app">


    <evt-result msg="Welcome to Your Vue.js App"/>

    <footer class="mobile blue">

        <template v-for="(step,idx) in steps">
          <div class="seq"
              :style="{left:idx*5+30*(idx)+'%'}" :key="step+idx">
            <div class="dark_blue">Step {{idx+1}}</div>
            <div>{{ step }}</div>
          </div>
          <div :style="{left:idx*5+30*(idx+1)+'%', backgroundImage: 'url('+ img_uri('right_arrow') +')'}"
                v-if="idx != steps.length-1"
                :key="step+idx"></div>
        </template>

        <div id="supporter" class="blue">
          응모 방법
        <div>
    </footer>
  </div>
</template>

<script>
import evtResult from './components/evtResult.vue';

export default {
  name: 'app',
  components: {
    "evtResult" : evtResult
  }
}
</script>

<style lang="scss">
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
