<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"><head><link href="/css/censor.bundle.css?df5df8ecf57d5e12ad82" rel="stylesheet"/></head>

<head>
<meta charset="UTF-8">
<title><%= htmlWebpackPlugin.options.title %></title>
<body>
	<input type="hidden" th:value="${mode}" id="mode">
	<input type="hidden" th:value="${position}" id="position">

	<div id="list_container" 
		 @keyup="push($event)">
		<div id="crawling_btn" class="btn"
			 @click="start_crawling">{{crawling_status}}</div>
		<div id="fetch_btn" class="btn"
			 @click="fetch_unrefineded">{{fetching_status}}</div>
		<div id="print_btn" class="btn"
			 @click="print_refineded">{{printing_status}}</div>
		
		<div id="focus_btn" class="btn"
			 :class="{warn: warn}" 
			 @click="as_console">콘솔 모드 on</div>
		<input id="console" type="text"
			   ref="console">

		<row v-for="(row,idx) in fetched_list"
			 class="row" :class="get_side(idx)" :key="row.no"
			 :product_name="row.product_name" :category="row.category"
			 :no="row.no" :url="row.url"
			 :pointer="pointer" :delete_list="delete_list"
			 @rapid="move" @magnifiy="show_big_one"></row>

		<div :class="{right:is_right}" id="big_one">
			<img :src="src">
		</div>

	</div>
</html><script type="text/javascript" src="/js/vendor.js?df5df8ecf57d5e12ad82"></script><script type="text/javascript" src="/js/censor.js?df5df8ecf57d5e12ad82"></script>