<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"><head><link href="/css/home.bundle.css?df5df8ecf57d5e12ad82" rel="stylesheet"/></head>

<head>
<meta charset="UTF-8">
<title><%= htmlWebpackPlugin.options.title %></title>
<body>

	<div id="pay_module">
		<form>
			<validated-input v-for="(value,key) in pay_form"
							 :identifier="key" :label="key"
							 :filter_chain="'required'" ></validated-input>
		</form> 
		<method-list :pay_method_group="pay_method_group"
					 @method_done="selected_update"></method-list>
		<payment v-for="pg in pg_group"
				 :pg="pg" 
				 @payment_done="selected_update"></payment> 	
	</div>
	
</html><script type="text/javascript" src="/js/vendor.js?df5df8ecf57d5e12ad82"></script><script type="text/javascript" src="/js/home.js?df5df8ecf57d5e12ad82"></script>