.payment{display:-webkit-inline-box;display:inline-flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;flex-direction:row;-webkit-box-align:center;align-items:center;-webkit-box-pack:center;justify-content:center;width:100px;height:100px}.payment#kakao{width:30%;height:80%;color:#000;background-color:#ff0;border:1px solid black;cursor:pointer}.payment#kakao:hover{text-decoration:underline}.payment#inicis{width:30%;height:80%;color:#fff;background-color:red;border:1px solid black;cursor:pointer}.payment#inicis:hover{text-decoration:underline}.payment#danal{width:30%;height:80%;color:blue;background-color:#fff;border:1px solid black;cursor:pointer}.payment#danal:hover{text-decoration:underline}

/*# sourceMappingURL=home.bundle.css.map*/