
@mixin flex_box($direction:column,$x_align:center){
    display: flex;
    flex-direction: $direction;
    align-items: center;
    align-content: center;
    justify-content: $x_align;

    position: relative;

    @content;
}
@mixin inline_flex_box($direction:row,$x_align:center){
    display: inline-flex;
    flex-direction: $direction;
    align-items: center;
    align-content: center;
    justify-content: $x_align;

    position: relative;

    @content;
}


@mixin back_image($width:100%, $height:100%){

    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: $width $height;

    @content;
}

@mixin default_font($color, $font-weight){
    font-weight: $font-weight;
    color: $color;
}

@mixin font_Campton($font_size:18px, $color:black, $font_weight:lighter){

    font-family: 'campton', sans-serif;
    font-size: $font_size;
    @include default_font($color, $font_weight);

    @content;
}

@mixin font_notosan($font_size:18px, $color:black, $font_weight:lighter){

    font-family: 'noto_san', sans-serif;
    font-size: $font_size;
    @include default_font($color, $font_weight);

    @content;
}


@mixin item_center($left:50%){
    position:absolute;
    left:$left;
    top:50%;
    transform:translate(-50%,-50%);

    @content;
}


//변수 셋팅
$arrival_ratio: 1.16;
$curation_ratio: 1.1;

$head_width: 100%;
$min_width: 1200px;

//app frame
html{ overflow-x: hidden }
*{ box-sizing: border-box }

//헤어 위 광고설정
#app_ad{
    @include flex_box();

    height: 100px;
    width: $head_width;
    min-width: $min_width;
    background-color: black;

    @include font_notosan(30px,white);
}

//헤더 설정
#header{
    @include flex_box($direction:row,$x_align:flex-start);
    
    width: $head_width;
    min-width: $min_width;
    height: 90px;
    //padding-bottom: 4.5%;

    border-bottom: 1.5px solid #ededed;

    *{ @include inline_flex_box() }

    #main_logo{
        position: absolute;
        top:50%;
        left: 2%;

        width: 50%;
        height: 50%;

        @include back_image($width:auto, $height:auto){
            background-position-x: 0;
            background-image: url("../../static/img/logo.png");
        }

        transform: translate(0,-50%);
    }

    #ai_statement{
        position: absolute;
        top: 50%;
        right:120px;

        @include font_notosan();

        transform: translate(0,-50%);
    }

    #ai_logo{
        position: absolute;
        top:50%;
        right:0%;

        width: 60px;
        height: 60px;
        //padding-bottom: 3.5%;

        border-radius: 100vmax;
        background-color: #0039fa;

        transform: translate(-50%,-50%);

        div{ 
            @include item_center();
            
            @include font_Campton(18px,#fff);
        }
    }
}
