@mixin flex_box($direction:column,$x_align:center){
    display: flex;
    flex-direction: $direction;
    align-items: center;
    align-content: center;
    justify-content: $x_align;

    position: relative;

    @content;
}
@mixin inline_flex_box($direction:row,$x_align:center){
    display: inline-flex;
    flex-direction: $direction;
    align-items: center;
    align-content: center;
    justify-content: $x_align;

    position: relative;

    @content;
}


@mixin back_image($width:100%, $height:100%){

    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: $width $height;

    @content;
}

@mixin default_font($color, $font-weight){
    font-weight: $font-weight;
    color: $color;
}

@mixin font_Campton($font_size:18px, $color:black, $font_weight:lighter){

    font-family: 'campton', sans-serif;
    font-size: $font_size;
    @include default_font($color, $font_weight);

    @content;
}

@mixin font_notosan($font_size:18px, $color:black, $font_weight:lighter){

    font-family: 'noto_san', sans-serif;
    font-size: $font_size;
    @include default_font($color, $font_weight);

    @content;
}


@mixin item_center($left:50%){
    position:absolute;
    left:$left;
    top:50%;
    transform:translate(-50%,-50%);

    @content;
}



//변수 셋팅
$arrival_ratio: 1.16;
$curation_ratio: 1.1;

//app frame
#app{
    @include flex_box();

    //max-width: 1980px;
    width: 100vw;
    max-width: 1920px;
    min-width: 1500px;
    height: auto;

    &>div{
        width: 90%;
        max-width: 1540px;
        height: auto;
    }
    //광고 이미지 설정
    #stlye_back{
        position: relative;

        width: 100%;
        max-width: none;
        height: 200px;

        @include back_image($width:auto,$height:100%){
            
        };

        .title{
            @include flex_box($x_align:flex-start){ align-items:flex-start };

            position: absolute;
            left: 13%;
            top: 50%;

            transform: translate(0,-50%);

            span{
                &:nth-child(1){
                    line-height: 30px;
                    margin: 0 0 10px 0;

                    @include font_Campton(48px,#fff,bold);
                    
                    span{ font-family: 'noto_san' }
                }
                &:nth-child(2){
                    @include font_notosan(22px,#fff,bold);

                    font-weight: lighter;
                }
            }
        }

        .option{
            @include flex_box($direction:row);

            position: absolute;
            bottom: 10%;
            right: 13%;

            width: 200px;
            height: 10%;

            &>div{ 
                @include font_notosan(14px,#fff);
                
                cursor: pointer;

                &:hover{
                    text-decoration: underline;
                }
            }

            #more{
                width: 10%;
                padding-bottom: 10%;
                margin: 0 20px 0 6px;

                @include back_image($width:50%,$height:auto){
                    background-image: url("./static/icon_more_arrrow.png");
                };

                cursor: pointer;
            }

            #reset{
                width: 10%;
                padding-bottom: 10%;
                margin: 0 0 0 6px;

                @include back_image($width:65%,$height:65%){
                    background-image: url("./static/icon_reset.png");
                };

                cursor: pointer;
            }

        }
        
    }
    //큐레이션 결과
    #curated{
        @include flex_box();

        #portrait{
            position: absolute;
            top: 0;
            left: 50%;

            width: 10%;
            padding-bottom: 10%;

            border-radius: 100vmax;
            border: 1px solid #e5e5e5;

            background-color: black;

            transform: translate(-50%,-50%);
        }

        #repo{
            margin: 100px 0 0 0;
            
            @include font_Campton(36px,#111,bold)
        }
        #subline{
            width: 40px;
            margin: 40px 0 40px 0;

            border-bottom: 3px solid black;
        }
        
        .title{
            @include flex_box($direction:row);

            margin: 0 0 40px 0;

            @include font_notosan(48px,#ff666d,lighter);
            
            span:nth-child(2){
                font-size: 24px;
                font-weight: lighter;
                color: #333;

                margin: 0 10px 0 10px;
            }
        }

        #extra_info{
            @include flex_box();

            height: auto;

            .specific{
                margin: 0 0 40px 0;

                text-align: center;
                line-height: 24px;

                @include font_notosan(16px,#666);
            }

            .paper{
                width: 150%;
                padding-bottom: 75%;

                canvas{
                    position: absolute;

                    width: 100%;
                }
            }

        }
    }

    //curation container 설정
    .curations_container{
        @include flex_box($x_align:flex-start);

        margin: 0 0 60px 0;

        .title{
            @include flex_box($direction:row,$x_align:flex-start);

            width: 100%;
            margin: 0 0 20px 0;

            @include font_Campton(24px,#111,bolder);
        }

        .curations{
            display: grid;
            grid-template-rows: auto;
            grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
            
            grid-auto-rows: auto;
            grid-auto-flow: row dense;

            gap: 0 1%;

            width:100%;
            height: auto;

            .item{
                @include inline_flex_box($direction:column);

                width: 100%;
                height: auto;

                margin-bottom: $curation_ratio*10%;
                
                //대표 이미지 설정 
                .represntative{
                    @include flex_box($x_align:flex-start);

                    width: 100%;
                    padding-bottom: $curation_ratio*100%;

                    img{
                        position: absolute;
                        top:0;
                        left:0;

                        width: 100%;
                        height: 100%;

                        cursor: pointer;
                    }
         
                    //신상품 태그
                    .new_rate{
                        position:absolute;
                        left:0;
                        top:0;

                        width: 15%;
                        padding-bottom: 7.5%;

                        @include font_notosan(15px,#fff);
                        background-color: rgb(242,104,101);

                        span{
                            position: absolute;
                            left:50%;
                            top:50%;

                            transform: translate(-50%,-50%);
                        }
                    }
                    //종아요 버튼

                }

                //상품 문자열 정보 설정
                &>div{ 
                    @include flex_box($x_align:flex-start){ align-items: flex-start } 
                    
                    width: 100%;
                }
                
                //상품이름
                .product_name{
                    padding: 1% 0 1% 0;
                    
                    @include font_notosan(14px,#111,bolder);
                }
                //상품 스타일 정보
                .style{
                    padding: 0 0 0 0;

                    @include font_notosan(12px, #666);
                }
                //상품 가격정보
                .price{
                    @include flex_box($direction:row,$x_align:flex-start);

                    padding: 2% 0 2% 0;

                    .raw{ 
                        margin: 0 2% 0 0;

                        @include font_Campton(16px,#333,bolder);
                        
                        .unit{ 
                            font-size: 14px;
                            font-weight: lighter 
                        }
                    }
                    .not_raw{ @include font_Campton(12px,#d4d4d4) }

                    .like{
                        position: absolute;
                        top:50%;
                        right:0;
                        
                        width: 10%;
                        padding-bottom: 10%;
                        @include back_image($width:44%,$height:auto){
                            background-image: url("./static/icon_heart_02.png");
                        }

                        transform: translate(0,-50%);
                        cursor: pointer;

                        &:hover{
                            background-image: url("./static/icon_heart_02_on.png");
                        }
                    }
            
                }

            }//end item
            
        }//end curtaion

    }//end curation_container

}