<template>
  
</template>

<script>
export default {
  evtResult : {
    name: "evtReslut",
    template :`<div>
                  <transition name="scroll">
                    <div class="bas" v-if="end">
                      <div class="title blue">{{ title }}</div>
                      <div class="reward"> <img :src="reward_uri"> </div>             
                      <div class="gift dark_blue">{{ gift }}</div>
                      <div class="message_box"
                            v-html="core_msg"></div>
                      <div class="confirm blue" @click="()=>end=false">{{ confirm }}</div>
                    </div>
                  </transition>
                  <div class="ambiguous_layout" v-if="end"></div>
                </div>
              `
    ,
    props : [ "param", "click", "end", "img_uri", "uri_prefixes",
              "evt_kind", "prize_list" ],
    data : function(){
      return {
        prize_yn : "",
        prize_num : "",
        prize_kind : "",
        prize_giveaway : "",

        messages : [],
      }
    },

  
    watch : {
      
    },
    computed : {
      title : function(){
        return this.messages[0];
      },

      gift : function(){
        return this.prize_yn=="Y"
                ? this.prize_giveaway+(this.prize_kind=="P" ? "P" : "")
                : this.messages[1];
      },

      reward_uri : function(){
        return this.prize_yn=="Y"
                ? (this.prize_kind=="P" ? this.img_uri("reward", null, true) : this.img_uri("product"))
                : this.img_uri("bomb")
      },

      core_msg : function(){
        var html = "";
        var start_idx = this.prize_yn=="Y"?0:1;
        
        for(idx in this.messages){
          
          if(idx>start_idx && idx<this.messages.length-1){
            var bridge = `<div class="msg">`;
            this.messages[idx].replace(/<\w*>/, `</div class="msg"><div>`);
            html += bridge + this.messages[idx] + `</div>`;
          }

        }//end for
        return html; 
      },

      confirm : function(){
        return this.messages[3];
      },


      display : function(){
        return this.messages
      }

    },
    methods : {
      fetchResult : function(){
        var evt_result = this;
        $.ajax({
          type : "post",
          url : "https://service.nbst.co.kr/front/EventProc/eventResult",
          contentType : "application/json",
          data : JSON.stringify(evt_result.param),
          dataType : "json",
          async : false,

          success : function(data){
            var info = data;
            event_redirect(info);

            // data injection
            $.each(info, function(key, value){
              if(!/subject/.test(key)){
                evt_result.$data[key] = value;
              }else{
                if(key.endsWith("5"))return false;
                evt_result.$data.messages.push(value);
              }  
            });
            
          },
          error : function(error){
            alert(error);
          }
        }); //end ajax
      },

    },//end methods

    created : function(){ 
      this.fetchResult(); 

      var prize_info = {};
      $.each(this.$data, function(key,value){
        if(/prize/.test(key))prize_info[key] = value;
      })
      prize_info["gift"] = this.gift;

      this.$emit("complete", prize_info);
    }

  }//end <evt-result>
}//end export
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
